<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SwimmingPoolParty{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<<<<<<< HEAD
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
=======
>>>>>>> cab24eab45166b6c7aeb21b1ece7f8216028aac7
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<<<<<<< HEAD
        <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
=======
>>>>>>> cab24eab45166b6c7aeb21b1ece7f8216028aac7
        {% block javascripts %}{% endblock %}
    </body>
</html>
