{% extends 'SwApplicationBundle::layout.html.twig' %}

{% block content %}
<p>Bienvenue ! Notre application vous permettra de trouver sans difficultés les soirées piscines, quel que soit l'endroit où vous vous trouvez !</p>
{% endblock %}
